<a href="https://colab.research.google.com/github/mohanrajmit/NLP/blob/master/ML/Data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NLP Basics: Implementing a pipeline to clean text

### Pre-processing text data

Cleaning up the text data is necessary to highlight attributes that you're going to want your machine learning system to pick up on. Cleaning (or pre-processing) the data typically consists of a number of steps:
1. **Remove punctuation**
2. **Tokenization**
3. **Remove stopwords**
4. Lemmatize/Stem

The first three steps are covered in this chapter as they're implemented in pretty much any text cleaning pipeline. Lemmatizing and stemming are covered in the next chapter as they're helpful but not critical.

In [1]:
!git clone https://github.com/mohanrajmit/ML-training.git

Cloning into 'ML-training'...
remote: Enumerating objects: 35, done.
remote: Counting objects: 100% (35/35), done.
remote: Compressing objects: 100% (35/35), done.
remote: Total 38 (delta 16), reused 0 (delta 0), pack-reused 3
Unpacking objects: 100% (38/38), done.

In [2]:
import pandas as pd
pd.set_option('display.max_colwidth', 100)

data = pd.read_csv("/content/ML-training/SMSSpamCollection.tsv", sep='\t', header=None)
data.columns = ['label', 'body_text']

data.head()

  label                                                                                            body_text
0   ham  I've been searching for the right words to thank you for this breather. I promise i wont take yo...
1  spam  Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...
2   ham                                        Nah I don't think he goes to usf, he lives around here though
3   ham                        Even my brother is not like to speak with me. They treat me like aids patent.
4   ham                                                                  I HAVE A DATE ON SUNDAY WITH WILL!!

In [3]:
# What does the cleaned version look like?
data_cleaned = pd.read_csv("/content/ML-training/SMSSpamCollection_cleaned.tsv", sep='\t')
data_cleaned.head()

  label  ...                                                                                     body_text_nostop
0   ham  ...  ['ive', 'searching', 'right', 'words', 'thank', 'breather', 'promise', 'wont', 'take', 'help', '...
1  spam  ...  ['free', 'entry', '2', 'wkly', 'comp', 'win', 'fa', 'cup', 'final', 'tkts', '21st', 'may', '2005...
2   ham  ...                                 ['nah', 'dont', 'think', 'goes', 'usf', 'lives', 'around', 'though']
3   ham  ...                              ['even', 'brother', 'like', 'speak', 'treat', 'like', 'aids', 'patent']
4   ham  ...                                                                                   ['date', 'sunday']

[5 rows x 3 columns]

### Remove punctuation

In [4]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [5]:
"I like NLP." == "I like NLP"

False

In [6]:
def remove_punct(text):
    text_nopunct = "".join([char for char in text if char not in string.punctuation])
    return text_nopunct

data['body_text_clean'] = data['body_text'].apply(lambda x: remove_punct(x))

data.head()

  label  ...                                                                                      body_text_clean
0   ham  ...  Ive been searching for the right words to thank you for this breather I promise i wont take your...
1  spam  ...  Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005 Text FA to 87121 to receive e...
2   ham  ...                                          Nah I dont think he goes to usf he lives around here though
3   ham  ...                          Even my brother is not like to speak with me They treat me like aids patent
4   ham  ...                                                                    I HAVE A DATE ON SUNDAY WITH WILL

[5 rows x 3 columns]

### Tokenization

In [7]:
import re

def tokenize(text):
    tokens = re.split('\W+', text)
    return tokens

data['body_text_tokenized'] = data['body_text_clean'].apply(lambda x: tokenize(x.lower()))

data.head()

  label  ...                                                                                  body_text_tokenized
0   ham  ...  [ive, been, searching, for, the, right, words, to, thank, you, for, this, breather, i, promise, ...
1  spam  ...  [free, entry, in, 2, a, wkly, comp, to, win, fa, cup, final, tkts, 21st, may, 2005, text, fa, to...
2   ham  ...                            [nah, i, dont, think, he, goes, to, usf, he, lives, around, here, though]
3   ham  ...         [even, my, brother, is, not, like, to, speak, with, me, they, treat, me, like, aids, patent]
4   ham  ...                                                           [i, have, a, date, on, sunday, with, will]

[5 rows x 4 columns]

In [8]:
'NLP' == 'nlp'

False

### Remove stopwords

In [9]:
import nltk
nltk.download('stopwords')

stopword = nltk.corpus.stopwords.words('english')
print(stopword)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [10]:
def remove_stopwords(tokenized_list):
    text = [word for word in tokenized_list if word not in stopword]
    return text

data['body_text_nostop'] = data['body_text_tokenized'].apply(lambda x: remove_stopwords(x))

data.head()

  label  ...                                                                                     body_text_nostop
0   ham  ...  [ive, searching, right, words, thank, breather, promise, wont, take, help, granted, fulfil, prom...
1  spam  ...  [free, entry, 2, wkly, comp, win, fa, cup, final, tkts, 21st, may, 2005, text, fa, 87121, receiv...
2   ham  ...                                                 [nah, dont, think, goes, usf, lives, around, though]
3   ham  ...                                              [even, brother, like, speak, treat, like, aids, patent]
4   ham  ...                                                                                       [date, sunday]

[5 rows x 5 columns]